*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit';
	background-color: black;
    color: white;
	padding-top: 90px;
	overflow: hidden;
	
}


.logo {
	
    width: 170px;
    height: 90px;
	float: left;
}

.logo-name {
	font-family: sans-serif;
	margin-top: 15px;
	width: 250px;
	font-weight: 900;
	float: left;
	color: rgb(210, 173, 78);
	font-size: 15px;
}

nav {
	overflow: hidden;
	position: fixed;
	background-color: black;
	border-radius: 17px;
	width: 100%;
	top: 0;
    z-index: 9999;
}



ul {
	
    float: right;
}

ul a {
	
}


ul li {
	float: left;
	list-style: none;
	padding: 20px;
	margin-top: 20px;
	font-size: 14px;
}


ul li a {
	float: right;
	text-decoration: none;
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	transition: 0.4s ease-in-out;
	
}


ul li a:hover {
	color: goldenrod;
    transform: scale(1.1);
	transition: 0.4s;
}

h1 {
	color: #fff;
	font-family: sans-serif;
	font-weight: 900;
	text-align: center;
	padding-top: -5px;
	padding-bottom: -52px;
	font-size: 40px;
}

h3 {
	color: rgb(210, 173, 78);
	font-family: sans-serif;
	font-weight: 800;
	text-align: center;
	padding-top: -10px;
	font-size: 20px;
}

.main-container {
	 

    margin-top: 250px;

    justify-self: center;
    transform: translate(-50%, -50%);
	margin-left: 370px;
    text-align: center;
    font-family: sans-serif;
	margin-bottom: -145px;
	gap: 5px;
	grid-template-columns: 50% 50%;
	
}


.container-carrier {
	box-shadow: 0 0 0 4px transparent;
	border-radius: 18px;
	display: grid;
    flex-direction: column;
    margin-bottom: -111px;
	grid-template-columns: 50% 50%;
	margin-bottom: -20px;
	margin-top: 20px;
   	justify-content: center;
  
}



.email {
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 600;
	margin-left: -64px;
}



.fa-square-facebook {
	color: #0000ff;
	padding-bottom: -19px;
	margin-left: -56px;
	font-size: 30px;
}



footer {
	
	width: 100%;
	overflow: hidden;
	text-align: center;
	position: absolute;
	padding-top: 10px;
	bottom: 0;
	height: 60px;
	background-color: black;
	
}



.end{
	color: white;
	font-family: sans-serif;
	font-size: 19px;
	font-weight: 800;
	margin-left: 50px;
	padding-top: 15px;
}



.seek1 {
	margin-left: 10px;
	margin-top: 20px;
    width: 160px;
	height: 160px;
	padding: 15px;
	border-radius: 50%;
	z-index: 2s;
	transition: all ease-in-out .5s;
}

.seek2 {
	margin-top: 20px;
	border-radius: 50%;
    width: 160px;
	height: 160px;
   transition: all ease-in-out .2s;
   padding: 15px;
}

.seek3 {
   width: 285px;
   height: 175px;
   margin-left: -30px;
   margin-left: px;
   transition: all ease-in-out .2s;
   padding: 15px;
}


.seek5 {
   width: 175px;
   height: 170px;
   border-radius: 25px;
   transition: all ease-in-out .2s;
   padding: 15px;
}

.seekhover {
	color: black;
     box-shadow: 0 0 0 2px  rgb(210, 173, 78);
	background-color: whitesmoke;
	cursor: pointer;
	transform: scale(1.0);
	z-index: 2s;
}



.seek:hover {
	color: black;
     box-shadow: 0 0 0 2px  rgb(210, 173, 78);
	background-color: whitesmoke;
	cursor: pointer;
	transform: scale(1.0);
	z-index: 2s;
}

.seek:hover {
	color: black;
     box-shadow: 0 0 0 2px  rgb(210, 173, 78);
	background-color: whitesmoke;
	cursor: pointer;
	transform: scale(1.0);
	border-radius: 25px;
	z-index: 2s;
}

.seek:hover {
	color: black;
     box-shadow: 0 0 0 2px  rgb(210, 173, 78);
	background-color: whitesmoke;
	cursor: pointer;
	transform: scale(1.0);
	z-index: 2s;
}





@media only screen and (max-width: 915px) {
.seek1 {
	margin-left: 5px;
	margin-top: 20px;
    width: 150px;
	height: 150px;
	padding: 15px;
	
	transition: all ease-in-out .5s;
}




.email {
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 600;
	margin-left: -19px;
}



.fa-square-facebook {
	color: #0000ff;
	padding-bottom: -19px;
	margin-left: -10px;
	font-size: 30px;
}

.seek2 {
	margin-top: 20px;
    width: 160px;
	height: 150px;
   transition: all ease-in-out .2s;
   padding: 15px;
}

.seek3 {
   width: 260px;
   height: 150px;
   transition: all ease-in-out .2s;
   padding: 15px;
}


.seek5 {
   width: 160px;
   height: 150px;
   border-radius: 25px;
   transition: all ease-in-out .2s;
   padding: 15px;
}


.ul li {
	margin-left: 12px;
	margin-top: -18px;
	font-size: 7px;
}


.logo {
	
    width: 160px;
    height: 90px;
	float: left;
}

.logo-name {
	font-family: sans-serif;
	margin-top: 15px;
	width: 240px;
	font-weight: 900;
	float: left;
	color: rgb(210, 173, 78);
	font-size: 12px;
}
}



@media only screen and (max-width: 895px) {
	.ul li {
	margin-left: -12px;
	margin-top: -48px;
	font-size: 5px;
}


.logo {
	
    width: 100px;
    height: 90px;
	float: left;
}

.logo-name {
	font-family: sans-serif;
	margin-top: 15px;
	width: 200px;
	font-weight: 900;
	float: left;
	color: rgb(210, 173, 78);
	font-size: 11px;
}
}

@media only screen and (max-width: 795px) {
	.ul li {
	margin-left: -18px;
	
	font-size: 7px;
	padding: 2px;
}


.logo {
	
    width: 90px;
    height: 80px;
	float: left;
}

.logo-name {
	font-family: sans-serif;
	margin-top: 15px;
	width: 200px;
	font-weight: 900;
	float: left;
	color: rgb(210, 173, 78);
	font-size: 11px;
}


nav {
	overflow: hidden;
	position: fixed;
	background-color: black;
	border-radius: 17px;
	width: 100%;
	top: 0;
	height:
}
}


@media only screen and (max-width: 626px) {
.seek3 {
   max-width: 400px;
   height: 250px
   transition: all ease-in-out .2s;
   padding: 12px;
   margin-left: 2px;
}
}













@media only screen and (max-width: 795px) {

.ul li {
	margin-left: 14px;
	
	font-size: 5px;
	padding: px;
}


.logo {
	
    width: 90px;
    height: 80px;
	float: left;
}

.logo-name {
	font-family: sans-serif;
	margin-top: 15px;
	width: 200px;
	font-weight: 900;
	float: left;
	color: rgb(210, 173, 78);
	font-size: 11px;
	margin-bottom: -40px;
}


nav {
	overflow: hidden;
	position: fixed;
	background-color: black;
	border-radius: 17px;
	width: 100%;
	top: 0;
	height:
}
}



@media only screen and (max-width: 693px) {
	ul li {
	padding: 5px;
	margin-top: 40px;
	font-size: 11px;
	}
}


@media only screen and (max-width: 627px) {
	.seek1 {
	margin-left: -25px;
	margin-top: 20px;
    width: 150px;
	height: 150px;
	padding: 15px;
	transition: all ease-in-out .5s;
}



.email {
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 600;
	margin-left: 1px;
}


.seek2 {
	margin-top: 20px;
    width: 150px;
	height: 150px;
   transition: all ease-in-out .2s;
   padding: 15px;
}

.seek3 {
   width: 250px;
   height: 150px;
   margin-left: -37px;
   transition: all ease-in-out .2s;
   padding: 15px;
}


.seek5 {
   width: 150px;
   height: 150px;
   border-radius: 25px;
   transition: all ease-in-out .2s;
   padding: 15px;
}

}


@media only screen and (max-width: 518px) {
.main-container {
	gap: 10px;
	 width: 70%;
}

ul li {
	padding: 5px;
	margin-top: 50px;
	font-size: 11px;
	}
}



@media only screen and (max-width: 480px) {
	.main-container {	
	margin-top: 350px;


}


.email {
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 600;
	margin-left: -10px;
}



.fa-square-facebook {
	color: #0000ff;
	padding-bottom: -19px;
	margin-left: -10px;
	font-size: 30px;
}


h1 {
	color: #fff;
	font-family: sans-serif;
	font-weight: 900;
	text-align: center;
	padding-top: -5px;
	padding-bottom: -52px;
	font-size: 40px;
	margin-left: -60px;
}

h3 {
	color: rgb(210, 173, 78);
	font-family: sans-serif;
	font-weight: 800;
	text-align: center;
	padding-top: -10px;
	font-size: 20px;
	margin-left: -60px;
}



.container-carrier {
	justify-content: center;
	gap: 60px;
	width: 70%;
	margin-left: -40px;
	
}


.seek1 {
	margin-left: 5px;
	margin-top: 24px;
    width: 150px;
	height: 150px;
	padding: -65px;
	margin-left: 44px;
	transition: all ease-in-out .5s;
}

.seek2 {
	margin-top: 18px;
	 width: 150px;
	height: 150px;
   transition: all ease-in-out .2s;
   padding: 15px;
   margin-left: 44px;
}

.seek3 {
   width: 280px;
   height: 280px
   transition: all ease-in-out .2s;
   padding: 15px;
   margin-left: -10px;
   margin-top: 15px;
}


footer {
	position: absolute
	padding-top: 25px;
	width: 100%;
	margin-top: -230px;
	text-align: center;
	height: 80px;
	background-color: black;
	
}


.seek5 {
    width: 170px;
	height: 170px;
   transition: all ease-in-out .2s;
   padding: 15px;
   margin-left: 34px;
   margin-top: 3px;
}
}



@media only screen and (max-width: 450px) {

h1 {
	color: #fff;
	font-family: sans-serif;
	font-weight: 900;
	text-align: center;
	padding-top: -5px;
	padding-bottom: -52px;
	font-size: 40px;
	margin-left: -60px;
}

h3 {
	color: rgb(210, 173, 78);
	font-family: sans-serif;
	font-weight: 800;
	text-align: center;
	padding-top: -10px;
	font-size: 20px;
	margin-left: -70px;
}


}



@media only screen and (max-width: 445px) {
h1 {
	color: #fff;
	font-family: sans-serif;
	font-weight: 900;
	text-align: center;
	padding-top: -5px;
	padding-bottom: -52px;
	font-size: 40px;
	margin-left: -50px;
}

h3 {
	color: rgb(210, 173, 78);
	font-family: sans-serif;
	font-weight: 800;
	text-align: center;
	padding-top: -10px;
	font-size: 20px;
	margin-left: -60px;
}
}





@media only screen and (max-width: 393px) {
ul li {
	padding: 5px;
	margin-top: 44px;
	font-size: 9px;
	}


	.logo-name {
	font-family: sans-serif;
	margin-top: 15px;
	width: 200px;
	font-weight: 900;
	float: left;
	color: rgb(210, 173, 78);
	font-size: 11px;
	padding-bottom: -48px;
}

}



@media only screen and (max-width: 430px) {
.container-carrier {
	justify-content: center;
	gap: 60px;
	width: 70%;
	margin-left: -70px;
	
}


h1 {
	color: #fff;
	font-family: sans-serif;
	font-weight: 900;
	text-align: center;
	padding-top: 70px;
	font-size: 40px;
	margin-left: -50px;
}

h3 {
	color: rgb(210, 173, 78);
	font-family: sans-serif;
	font-weight: 800;
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
	margin-left: -50px;
}


.last-footer {
	position: absolute
	padding-top: 25px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	height: 80px;
	background-color: black;
	margin-top: -280px;
}

}



@media only screen and (max-width: 430px) {
	.last-footer {
	position: absolute
	padding-top: 25px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	height: 80px;
	background-color: black;
	margin-top: -290px;
}

}


@media only screen and (max-width: 390px) {
.container-carrier {
	justify-content: center;
	gap: 60px;
	width: 70%;
	margin-left: -90px;
}
}


@media only screen and (max-width: 377px) {
	h1 {
	color: #fff;
	font-family: sans-serif;
	font-weight: 900;
	text-align: center;
	padding-top: 70px;
	font-size: 40px;
	margin-left: -100px;
}

h3 {
	color: rgb(210, 173, 78);
	font-family: sans-serif;
	font-weight: 800;
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
	margin-left: -100px;
}


.email {
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 600;
	margin-left: 8px;
}



}
